.seats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-top: 50px;
}
  
.auditorium-seats {
    margin-bottom: 20px;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    border: none;
}

.card-title {
    font-size: 35px;
    color: #ffffff;
    padding-bottom: 30px;
}
  
.seat-row {
    display: flex;
    justify-content: center;
}
  
.seat {
    width: 30px;
    height: 50px;
    margin: 5px;
    background-color: #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.seat.occupied {
    background-color: rgb(126, 10, 10);
    color: rgb(0, 0, 0);
    cursor: default;
}

@media only screen and (max-width: 480px) {
    .seat {
      width: 20px;
      height: 40px;
      font-size: 8px;
    }
}
  
  
  
  