
.choose-seat-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
}

.seats-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-top: 50px;
    width: 500px;
}
  
.auditorium-seats {
    margin-bottom: 20px;
    background-color:transparent;
    align-items: center;
    justify-content: center;
    border: none;
}

.auditorium-title {
    font-size: 35px;
    color: #ffffff;
    padding-bottom: 30px;
}
  
.seat-row {
    display: flex;
    justify-content: center;
}
  
.seat {
    width: 30px;
    height: 50px;
    margin: 5px;
    background-color: #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.seat.occupied {
    background-color: rgb(126, 10, 10);
    color: rgb(0, 0, 0);
    cursor: default;
}

@media only screen and (max-width: 480px) {
    .seat {
      width: 20px;
      height: 40px;
      font-size: 8px;
    }
}

.movie-info { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding-right: 50px;
}
  
.movies-title {
    margin-top: 10px;
    font-size: 24px;
    color: #ffffff;
}

.movie-info img {
    max-width: 200px;
    max-height: 350px;
    align-items: center;
    justify-content: center;
}

.choose-seat-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.screening-time-text{
    font-size: 14px;
    color: #ffffff;
}

.seat.selected {
    background-color: green; 
    color: rgb(0, 0, 0);
}

.choose-seats-book-button{
    height: 35px;
    font-size: 14px;
}
  
  