.seats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.auditorium-seats {
    margin-bottom: 20px;
}
  
.seat-row {
    display: flex;
    justify-content: center;
}
  
.seat {
    width: 30px;
    height: 50px;
    margin: 5px;
    background-color: #bdc3c7;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
  
  
  
  