.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2d2c2c;
    color: white;
    flex-direction: column; 
}
  
.navbar h1 {
    margin: 20px; 
    font-size: 50px;
}

.nav-dropdown-container {
    position: relative;
}
  
.category-button{
    background-color: transparent;
    color: white;
    border: none;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
}
  
.nav-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 150px;
    height: 200px;
    overflow-y: auto;
    background-color: #2d2c2c;
    color: white;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 6px;
    border-color: white;
    z-index: 1;
    cursor: pointer;
    margin-bottom: 15px;
    cursor: pointer;
}

.category {
    margin-bottom: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.category:hover {
    background-color: #615f5f;
    border-radius: 4px;
    transform: scale(1.2);
}
  



